I: ternary.qc
D: nested ternary expressions
T: -execute
C: -std=fteqcc
M: 1 a=1
M: 1 a=2
M: 1 a=other
M: 0 not met
M: 0 not met
M: 0 not met
M: 1 a=1
M: 1 a=2
M: 1 a=other
M: 0 not met
M: 0 not met
M: 0 not met
